<div class="controls">
    <div class="control active-btn" data-id="home">
        <i class="fas fa-home"></i>
    </div>
    <div class="control" data-id="about">
        <i class="fas fa-user"></i>
    </div>
    <div class="control" data-id="blog">
        <i class="fas fa-blog"></i>
    </div>
    <div class="control" data-id="news">
        <i class="fas fa-satellite-dish"></i>
    </div>
    <div class="control" data-id="publications">
        <i class="far fa-newspaper"></i>
    </div>
    <div class="control" data-id="contact">
        <i class="fas fa-envelope-open"></i>
    </div>
</div>
