<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ '/styles/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/components.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    {% feed_meta %}
</head>
<body class="main-content">
    {{ content }}

    <footer class="copyright">
        <small>&copy; Dr. Daniel Boateng, Hannover, Germany ({{ 'now' | date: "%Y" }})</small>
    </footer>

    <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div>
    <script src="{{ '/app.js' | relative_url }}"></script>
    <script src="{{ '/scripts/site.js' | relative_url }}"></script>
</body>
</html>
